<%- include('../partials/header.ejs') %>
<div class="container d-flex">
  <div class="container mt-4 w-25 d-none d-lg-block">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Trending Clucks</h5>
        <% for (let tag of tags) { %>
        <p><%= tag.tag %> &#183; <%= tag.counter %></p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="container w-75 mt-3">
    <% for (let cluck of clucks) { %>
    <div class="card mt-2 flex-row">
      <div class="card-avatar">
        <img class="rounded" src=" /images/avatar.png" width="50" height="50" alt="">
      </div>
      <div class="card-body">
        <span class="font-weight-bold"><%= cluck.username %></span>
        <span>
          &#183;</span>
        <span><%= cluck.time_passed %></span>
        <p class="card-text"><%= cluck.content %></p>
        <% if (cluck.image_url) { %>
        <img class="card-image img-fluid mx-auto d-block" width="500" src="<%= cluck.image_url %>" alt="">
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>